//公共
@font-face {
    font-family: 'iconfont';
    /* project id 1293678 */
    src: url('//at.alicdn.com/t/font_1293678_i604nym857.eot');
    src: url('//at.alicdn.com/t/font_1293678_i604nym857.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1293678_i604nym857.woff2') format('woff2'), url('//at.alicdn.com/t/font_1293678_i604nym857.woff') format('woff'), url('//at.alicdn.com/t/font_1293678_i604nym857.ttf') format('truetype'), url('//at.alicdn.com/t/font_1293678_i604nym857.svg#iconfont') format('svg');
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
    width: 100%;
}

$bg:rgb(51,
51,
51);
$c: rgb(204,
204,
204);
$themeColor:rgb(255,
255,
255);
$font: 12px;
.block {
    display: block !important;
}

.none {
    display: none !important;
}

.padding-none {
    padding: 0 !important;
    background: $bg;
    .top-list {
        margin-left: 50px;
        li {
            padding-right: 25px;
            a {
                font-size: $font;
                color: $c;
            }
        }
    }
    .personal {
        margin-right: 30px;
        li {
            padding-left: 30px;
            a {
                font-size: $font;
                color: $c;
            }
        }
    }
    .personal-list {
        margin-right: 30px !important;
        #dropdownMenuLink {
            background: $bg;
            color: $c;
            border: none;
            box-shadow: none;
        }
    }
}

.top-nav {
    position: relative;
    .img-bg {
        overflow: hidden;
        @media screen and (min-width: 1440px) {
            .img {
                height: 60% !important;
            }
        }
        // @media screen and (max-width:768px) {
        //     .img {
        //         display: none !important;
        //     }
        // }
    }
    .img {
        height: 100%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .carousel-item {
        position: relative;
        .carousel-caption {
            position: absolute;
            top: 10%;
            p {
                margin: 30px auto;
            }
            &:last-child a {
                color: white;
            }
        }
    }
    .app-bar {
        padding: 0;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        .container {
            .search-bar {
                width: 300px;
                height: 40px;
                border-radius: 5px;
                display: none;
            }
            #res-nav {
                margin-left: 30px;
                .nav-left li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .symbol {
                        font-size: 36px;
                        padding-right: 20px;
                    }
                    span {
                        color: $c;
                        font-size: 16px;
                        a {
                            padding: 0;
                        }
                    }
                }
            }
            button {
                margin-left: 10px;
            }
            .shop-pack {
                font-family: "iconfont" !important;
                font-size: 32px;
                color: $c;
                font-style: normal !important;
            }
            .logobar {
                color: $c;
                font-size: 36px;
                &:hover {
                    color: rgb(65, 95, 255);
                }
            }
            @media screen and (max-width:768px) {
                .nav-flex {
                    display: none !important;
                }
            }
            .nav-flex {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    a {
                        color: $themeColor;
                        font-size: 18px;
                        transition: all .5s linear;
                    }
                    &:hover a {
                        color: rgb(65, 95, 255);
                    }
                }
                &:last-child a .iconfont {
                    font-family: "iconfont" !important;
                    font-size: 16px;
                    color: $c;
                }
            }
        }
    }
    .list-box {
        display: none;
        height: 400px;
        width: 100%;
        background: rgb(247, 247, 247, .9);
        position: absolute;
        top: 0;
        z-index: 1;
    }
}

.img-items {
    img {
        height: 100%;
        width: 100%;
        position: relative;
        height: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}