// 注册页
.register-box {
    width: 60%;
    height: 650px;
    margin: 50px auto;
    background: rgb(177, 117, 117);
    .logo-img {
        text-align: center;
        padding-top: 40px;
        img {
            width: 160px;
        }
    }
    h4 {
        text-align: center;
        margin: 25px auto;
    }
    form {
        text-align: center;
        margin-top: 80px;
        input {}
    }
}